/* Box Styling */
.App {
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  border: solid lightblue 5px;
  /* border-radius: 15px; */
  /* color: red; */
}

.App:hover {
  color: red;
}

/* Input Field Styling */

input {
  width: 200px;
  height: 25px;
  padding: 0 10px;
  border: black solid 2px 0px;
  border-radius: 10px 0px 10px 0px;
}
input:hover {
  color: rgb(62, 216, 195);
}
